form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  border-radius: 5px;
  background-color: transparent;
  border-style: none;
  border: 1px solid white;
  height: 20px;
  color: white;
}

label {
  width: 300px;
  margin: 20px 0 5px 0;
}

.FormContainer {
  display: flex;
  background-color: #000000c6;
  margin: 30dvh auto;
  width: 40%;
  border-radius: 10px;
  justify-content: center;
  color: white;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inputWarning {
  border: 1px solid #7b1e1e;
  color: #7b1e1e;
}

.textWarning {
  color: #7b1e1e;
}

.submitButton {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: 300ms;
}

.submitButton:active {
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px;
}