.inputField {
  position: relative;
}

.inputField input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 10px;
  color: white;
}

button {
  color: white;
  font-size: 15px;
  background-color: transparent;
  border: transparent;
  transition: .3s;
}

button:hover {
  color: rgb(255, 255, 255);
  border: transparent;
  height: 20px;
  text-decoration: underline;
}
